p {
  display: inline;
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: row;
}

article {
  /* width: 50%; */
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

#one {
  border: 1px solid blue;
  flex-basis: 50%;
}

#two {
  border: 1px solid pink;
  flex-basis: 50%;
} 